li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  background: black;
  color: white;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1000px;
  height: 120px;
  margin: 0 auto;
}

.header__box--logo {
  margin: 0 80px;
  font-size: 40px;
  line-height: 120px;
}

.header__box--category {
  margin-right: 80px;
}

.header .dropdown {
  line-height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .category {
  position: relative;
}

.header .category__dropdown {
  position: absolute;
  display: none;
  line-height: 1.5;
  bottom: 100;
  background-color: black;
  padding: 20px;
  width: 120px;
  top: 70px;
  left: -17px;
}

.header .category__dropdown a {
  color: white;
}

.header .category__dropdown a:hover {
  color: lightgrey;
}

.header a {
  color: white;
}

.header li {
  margin-right: 10px;
}

.header form {
  line-height: 120px;
}

#slider {
  height: 422px;
}

#slider-controller {
  width: 100%;
  height: 44px;
  background: lightgray;
  margin-bottom: 40px;
}

#slider-controller__button {
  width: 1000px;
  height: 44px;
  margin: 0 auto;
  position: relative;
}

#slider-controller__button ul {
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

#slider-controller__button ul .chevron {
  border-right: 1px solid white;
}

#slider-controller__button ul li {
  cursor: pointer;
  font-size: 15px;
  line-height: 44px;
  width: 44px;
  text-align: center;
}

.main {
  width: 100%;
}

.main__box {
  width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left-column {
  width: 200px;
  margin-top: 48px;
}

.left-column .side-new {
  height: 200px;
  width: 200px;
  background: black;
  text-align: center;
  position: relative;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  margin-bottom: 20px;
}

.left-column .side-new:hover {
  opacity: 0.5;
}

.left-column .side-new a {
  line-height: 200px;
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.left-column .side-new p {
  line-height: 200px;
  color: white;
}

.left-column .side-cart {
  padding: 20px;
  background-color: lightgray;
}

.left-column .side-cart p {
  text-align: center;
  line-height: 1.5;
  font-size: 12px;
}

.left-column .side-cart .cart-button {
  margin-top: 7px;
  text-align: center;
}

.left-column .side-cart .cart-button i {
  background-color: gray;
  padding: 3px 10px;
  font-size: 12px;
}

.left-column a {
  color: black;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.left-column a:hover {
  color: lightgray;
}

.left-column ul {
  margin-top: 15px;
  padding-left: 16px;
}

.left-column li {
  font-size: 14px;
  line-height: 1.5;
  font-weight: bold;
}

.left-column h2 {
  line-height: 2;
  font-size: 18px;
  text-align: center;
  border-bottom: 1px black solid;
}

.right-box {
  margin: 20px auto 0;
  width: 750px;
}

.right-box__main {
  height: 1800px;
  overflow: auto;
}

.right-box h2 {
  margin-bottom: 20px;
  text-align: center;
}

.lower-bunner {
  width: 100%;
  margin: 50px 0;
  padding: 55px 0;
  border-top: 1px solid black;
}

.lower-bunner__box {
  margin: 0 auto;
  height: 100px;
  width: 400px;
  background-color: lightgreen;
}

.lower-bunner p {
  text-align: center;
}

.footer {
  background: lightgray;
  width: 100%;
  padding: 50px 0 100px;
  color: grey;
}

.footer__box {
  width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__box--logo {
  margin-right: 30px;
  font-size: 40px;
}

.footer__box--support {
  padding-left: 6px;
  margin-top: 6px;
  border-left: 2px grey solid;
}

.footer a {
  color: gray;
}
/*# sourceMappingURL=styles.css.map */